@media (max-width: 1023px) {
    .m-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        padding: 12px 0px;
        background: #ff8d2f;
        font: 700 12px / 120% "Inter", sans-serif;
        text-align: center;
        color: #663000;
    }
}