.inventory-items {
    .inventory-item {
        padding: 8px;
        margin-bottom: 1.5rem;
        border-radius: 16px;
        background-color: rgba(var(--white), 1);
        box-shadow: 1px 1px 2px 1px lightgray;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        opacity: 0.6;

        &.active {
            border: 1px solid rgba(var(--theme-color), 1);
            box-shadow: none;
            opacity: 1;
        }

        &:hover {
            transform: scale3d(1.02, 1.02, 1);
        }

        .inventory-img {
            max-width: 100%;
            height: auto;
        }

        h6 {
            margin-top: 0.5rem;
            font-size: 0.75rem;
        }

        small {
            font-size: 0.65rem;
        }

        &.rarity-consumer {
            background: linear-gradient(0deg,
                    rgba(var(--rarity-consumer), 0.7) 0%,
                    rgba(var(--rarity-consumer), 0) 15%);
            box-shadow: 0 0 10px rgba(var(--rarity-consumer), 0.3) inset; // Потребительское качество - серебристый
        }

        &.rarity-industrial {
            background: linear-gradient(0deg,
                    rgba(var(--rarity-industrial), 0.7) 0%,
                    rgba(var(--rarity-industrial), 0) 15%);
            box-shadow: 0 0 10px rgba(var(--rarity-industrial), 0.3) inset; // Промышленное качество - светло-синий
        }

        &.rarity-milspec {
            background: linear-gradient(0deg,
                    rgba(var(--rarity-milspec), 0.7) 0%,
                    rgba(var(--rarity-milspec), 0) 15%);
            box-shadow: 0 0 10px rgba(var(--rarity-milspec), 0.3) inset; // Армейское качество - темно-синий
        }

        &.rarity-restricted {
            background: linear-gradient(0deg,
                    rgba(var(--rarity-restricted), 0.7) 0%,
                    rgba(var(--rarity-restricted), 0) 15%);
            box-shadow: 0 0 10px rgba(var(--rarity-restricted), 0.3) inset; // Запрещенное - фиолетовый
        }

        &.rarity-classified {
            background: linear-gradient(0deg,
                    rgba(var(--rarity-classified), 0.7) 0%,
                    rgba(var(--rarity-classified), 0) 15%);
            box-shadow: 0 0 10px rgba(var(--rarity-classified), 0.3) inset; // Засекреченное - розовый
        }

        &.rarity-covert {
            background: linear-gradient(0deg,
                    rgba(var(--rarity-covert), 0.7) 0%,
                    rgba(var(--rarity-covert), 0) 15%);
            box-shadow: 0 0 10px rgba(var(--rarity-covert), 0.3) inset; // Тайное - красный
        }

        &.rarity-contraband {
            background: linear-gradient(0deg,
                    rgba(var(--rarity-contraband), 0.7) 0%,
                    rgba(var(--rarity-contraband), 0) 15%);
            box-shadow: 0 0 10px rgba(var(--rarity-contraband), 0.3) inset; // Контрабанда/Крайне редкий - золотой
        }
    }

    .item-details {
        padding: 16px;
        border-radius: 16px;
        background-color: rgba(var(--white), 1);
        box-shadow: 1px 1px 2px 1px lightgray;

        &.sticky-top {
            top: 30px;
            z-index: 1;
        }
    }
}